.auth-modal, .registr-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    overflow-y: auto;
}

.auth-modal.open, .registr-modal.open {
    opacity: 1;
    visibility: visible;
}

.auth-modal__box, .registr-modal__box {
    
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    @media screen and (min-width: 768px) {
        padding: 20px 10px;
    }
    @media screen and (min-width: 1280px) {
        padding: 30px 10px;
    }
}
.auth-modal__content, .registr-modal__content {
    position: relative;
    // background-color: #111010;
    background: rgb(21, 17, 23);
    background: linear-gradient(352deg, rgba(21, 17, 23, 1) 53%, rgba(253, 29, 29, 1) 100%);
    max-width: 800px;
    padding: 50px;
    border-radius: 5px;
}

.auth-modal__button.modal__button, .registr-modal__button.modal__button {
    position: absolute;
    stroke: #ffffff;
    cursor: pointer;
    transition: transform 300ms ease;
    &:hover, &:focus {
        stroke: #212121;
        transform: rotate(90deg);
        transition: transform 300ms ease;
    }
}

.auth-modal__header, .registr-modal__header {
    color: white;
    font-weight: 500;
}

.auth-modal__form, .registr-modal__form {
    margin-top: 35px;
}

.auth-modal__field:first-child, .registr-modal__field:first-child {
    margin-bottom: 20px;
}

.auth-modal__field, .registr-modal__field {
    position: relative;
}

.auth-modal__input, .registr-modal__input {
    font-size: 16px;
    min-width: 100px;
    height: auto;
    padding: 25px 15px 5px 15px;
    outline: none;
    border: 1px solid #212121b2;
    border-radius: 10px;
}

.auth-modal__label, .registr-modal__label {
    position: absolute;
    top: 7;
    left: 15;

    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
}

.submit-btn {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px 32px;
    
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-family: inherit;
    background-color: #fd1d1d;
    color: #ffffff  ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    
    cursor: pointer;
    
    &:hover,
    &:focus {
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            background-color: rgb(198, 19, 19);
    }
}

.auth-modal_text {
    color: rgb(154, 159, 159);
}
.registration {
    color: #ffffff;
}
