.button-up {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 40px;
  bottom: 40px;
  transition: 0.3s;
  background-color: #f7f7f7;
  box-shadow: -1px 35px 40px -18px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 35px 40px -18px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 35px 40px -18px rgba(0, 0, 0, 0.3);
  &:hover,
  &:focus {
    // background-color: #f7f7f7;
    box-shadow: -1px 20px 30px -18px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -1px 20px 30px -18px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 20px 30px -18px rgba(0, 0, 0, 1);
  }
}
.button-up__icon {
  width: 40px;
  height: 40px;
  fill: rgb(77, 77, 77);
}
