.gallery {
  padding: 20px;
  min-width: 150px;
  display: grid;

  // row-gap: 60px;
  row-gap: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  &__item:hover {
    transform: scale(1.03);
  }

  &__image {
    padding-top: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
  }

  &__tittle {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    color: #ff6b08;
  }

  @media screen and (min-width: 320px) {
    min-width: 210px;
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    &__item:hover {
      transform: scale(1.1);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__tittle {
      margin-top: 5px;
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 10px;
    }
    &__image {
      height: 310px;
    }
  }

  @media screen and (min-width: 768px) {
    min-width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    column-gap: 30px;
    grid-auto-rows: min-content;
    &__tittle {
      line-height: 1.33;
    }
  }

  @media screen and (min-width: 1280px) {
    min-width: 870px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    &__tittle {
      font-size: 20px;
      line-height: 1.2;
    }
    &__text {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.gallery-item-thumb {
  position: relative;
  overflow: hidden;
}
.gallery__links {
  position: absolute;
  top: 85%;
  left: 0;

  height: 100%;
  width: 100%;
  padding: 10px 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #ff6b08;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:hover .gallery__links,
  &:focus .gallery__links {
    // display: flex;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transform: translateY(0%);
  }
}

.gallery-list-link {
  display: flex;
  justify-content: center;
  &__item + &__item {
    margin-left: 20px;
  }
}
.icon {
  &__link {
    fill: #afb1b8;
    background-color: black;
    &:hover,
    &:focus {
      background-color: purple;
      cursor: pointer;
      fill: #ffffff;
    }
  }
}
// .icon:hover {
//   transform: scale(1.1);
// }
