.header-lib {
    background-color: #000000;
    background-image: url(../images/lib/mob-lib-x1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .header-lib {
        background-image: url(../images/lib/mob-lib-x2.jpg);
    }
}

@media screen and(min-width: 768px) {
    .header-lib {
        background-image: url(../images/lib/tab-lib-x1.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .header-lib {
            background-image: url(../images/lib/tab-lib-x2.jpg);
        }
    }
}

@media screen and(min-width: 1280px) {
    .header-lib {
        background-image: url(../images/lib/desk-lib-x1.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .header-lib {
            background-image: url(../images/lib/desk-lib-x2.jpg);
        }
    }
}

.library-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.watched-btn,
.queue-btn {
    @extend %button;
    width: 130px;
    transition: 0.5s;
}

.active-btn {
    border: none;
    background-color: #FF6B01;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    transition: 0.3s;
    &:hover, &:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    box-shadow: -1px 20px 30px -18px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -1px 20px 30px -18px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 20px 30px -18px rgba(0, 0, 0, 1);

    }
}

.queue-btn:hover, .queue-btn:focus {
    border: none;
    background-color: #FF6B01;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    
}
@media screen and (min-width: 768px) {
    .library-btns {
        gap: 32px;
    }

    .watched-btn,
    .queue-btn {
        width: 152px;
    }
}

@media screen and (min-width: 1280px) {
    .library-btns {
        gap: 16px;
    }

    .watched-btn,
    .queue-btn {
        width: 148px;
    }
}