.drop-box {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    opacity: 1;    
    transition: all 0.8s ease 0s;
    overflow-y: auto;
}

.drop-box--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.modal {
    position: relative;
     

    width: 280px;    
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;    

    background-color: #ffffff;    
}

.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    border: none;
    background-color: transparent;
    stroke: #000000;
    cursor: pointer;
    transition: transform 300ms ease;
    &:hover, &:focus {
        stroke: #FF6B01;
        transform: rotate(90deg);
        transition: transform 300ms ease;
    }
}

.modal__img {
    height: 357px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.modal__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.15;
    text-transform: uppercase;
}

.movie-data {
    display: flex;
    margin-bottom: 20px;
}

.movie-data__name {
    margin-right: 32px;

    color: #8C8C8C;

    &>li:not(:last-child) {
        margin-bottom: 8px;
    }
}

.movie-data__content, .movie-data__name {
    &>li:not(:last-child) {
        margin-bottom: 8px;
    }
}

.movie-data__item:first-child {
    display: flex;
    text-align: center;
}

.movie-orig-title__item {
    text-transform: uppercase;
}

.movie-votes__first,
.movie-votes__sec {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;    

    font-weight: 500;
    font-size: 12px;
}

.movie-votes__first {
    background-color: #FF6B01;
    color: #ffffff;
}

.movie-votes__sec {
    background-color: #F7F7F7;
}

.movie-about {
    margin-bottom: 8px;
    text-transform: uppercase;
}

.movie-about-text {
    line-height: 1.67;
    margin-bottom: 20px;
}

.modal-btns {
    display: flex;
    gap: 20px;
}

.add-watched-btn {    
    padding: 5px;    
    background-color: #FF6B01;
}

.add-watched-btn,
.add-queue-btn {
    @extend %button;    
    width: 110px;
    
}

.add-queue-btn {    
    border: 1px solid #000000;
    color: #000000;

}

@media screen and (min-width: 768px) {
    .modal {
        // top: 219px;
        
        width: 704px;
        padding-top: 40px;
        padding-right: 36px;
        padding-left: 36px;
    }

    .modal-thumb {
        display: flex;
    }

    .modal__img {
        margin-bottom: 0;
        margin-right: 68px;
        width: 264px;
        height: 374px;
    }

    .modal-btns {
        gap: 15px;
    }

    .add-watched-btn,
    .add-queue-btn {        
        width: 125px;        
    }
}

@media screen and (min-width: 1280px) {
    .modal {
        // top: 150px;
        display: flex;
        width: 806px;
        padding-right: 12px;
        padding-left: 12px;
    }

    .modal__img {
        margin-right: 16px;
        width: 375px;
        height: 478px;
    }

    .modal__title {        
        font-size: 30px;
        line-height: 1.17;
    }

    .modal-btns {
        margin-left: 8px;
    }

    .add-watched-btn,
    .add-queue-btn {
        width: 136px;
    }
}

body.overflow-hidden {
    overflow: hidden;
}

