.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-top: 60px;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.pagination-btn {
  @extend %button;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  background-color: transparent;
  color: #000000;
}

.pagination-btn__main {
  @extend %button;
  width: 40px;
  height: 40px;
  background-color: #ff6b08;
  color: #ffffff;
}

.pagination-btn__arrow-left,
.pagination-btn__arrow-right {
  @extend %button;
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
}

@media screen and (max-width: 767px) {
  .pagination-item:nth-child(1),
  .pagination-item:nth-child(2),
  .pagination-item:nth-child(8),
  .pagination-item:nth-child(9) {
    display: none;
  }

  .pagination {
    margin-top: 40px;
  }
}

.is-stealth {
  display: none;
}
