:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --animation-duration-developers-hover: 500ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  &__developers {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

// В файлі modall.scss
// .drop-box--is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
// }

//scrollBar
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #ececec;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
}
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
  border: 2px solid #ececec;
  &:hover {
    background: #7c7c7c;
  }
}
