<div class="auth-modal">
  <div class="auth-modal__box">
    <div class="auth-modal__content">
      <button class="auth-modal__button modal__button" type="button">
        <svg class="modal__icon" width="30" height="30">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h1 class="auth-modal__header">Sign in</h1>
      <form class="auth-modal__form" name="user-date" action="#">
        <div class="auth-modal__field">
          <label for="user-email" class="auth-modal__label">Email</label>
          <input
            type="email"
            name="user-email"
            id="user-email"
            class="auth-modal__input"
          />
        </div>
        <div class="auth-modal__field">
          <label for="user-password" class="auth-modal__label">Password</label>
          <input
            type="password"
            name="user-password"
            id="user-password"
            class="auth-modal__input"
          />
        </div>

        <button type="submit" class="submit-btn">Sign in</button>
        <p class="auth-modal_text">
          New to Filmoteka? <a class="registation" href="#">Sign up now.</a>
        </p>
      </form>
    </div>
  </div>
</div>
