<section class="section">
  <div class="container-main">
    <p class="info is-hidden">Your library is empty</p>

    <ul class="movie-list">
      <!-- GALLERY ELEMENT - SAMPLE -->

      <!-- <li class="movie-item">
                <img class="movie-img" src="./images/mobile-header-img-2x.jpg" alt="" width="280">
                <h2 class="movie-title">GREYHOUND</h2>
                <p class="movie-description">Drama, Action | 2020</p>
            </li> -->
    </ul>

    <div class="drop-box drop-box--is-hidden">
      <div class="modal">
        <button class="modal__button" type="button">
          <svg class="modal__icon" width="30" height="30">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <div class="modal-thumb">
          <!-- MODAL WINDOW - SAMPLE -->

          <!-- <img class="modal__img" src="./images/mobile-header-img-1x.jpg" alt="" width="240">
                    <div class="modal__description-thumb">
                        <h2 class="modal__title">A FISTFUL OF LEAD</h2>
                        <ul class="movie-data">                            
                            <li>
                                <ul class="movie-data__name">
                                    <li>Vote / Votes</li>
                                    <li>Popularity</li>
                                    <li>Original Title</li>
                                    <li>Genre</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="movie-data__content">
                                    <li class="movie-data__item">
                                        <span class="movie-votes__first">7.3</span> / <span class="movie-votes__sec">1233</span>
                                    </li>
                                    <li class="movie-data__item">
                                        <span class="movie-popularity__item">100.2</span>
                                    </li>
                                    <li class="movie-data__item">
                                        <span class="movie-orig-title__item">A FISTFUL OF LEAD</span>
                                    </li>
                                    <li class="movie-data__item">
                                        <span class="movie-genre__item">Western</span>
                                    </li>
                                </ul>
                            </li> 
                        </ul>
                    
                        <p class="movie-about">About</p>
                        <p class="movie-about-text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
                            most corrupt settlement of the
                            gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out
                            in
                            the
                            abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the
                            very
                            same
                            bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead...
                            they’ve
                            been double crossed – but by who and how?</p>
                        <ul class="modal-btns">
                            <li class="modal-btns__item">
                                <button class="button add-watched-btn" type="button">Add to Watched</button>
                            </li>
                            <li class="modal-btns__item">
                                <button class="button add-queue-btn" type="button">Add to queue</button>
                            </li>
                        </ul>
                    </div> -->
        </div>
      </div>
    </div>

    <div class="pagination is-hidden">
      <button class="button pagination-btn__arrow-left" type="button">
        <svg class="pagination__icon" width="40" height="40">
          <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <ul class="pagination-list">
        <li class="pagination-item">
          <button class="button pagination-btn" type="button"></button>
        </li>
        <li class="pagination-item">
          <button class="button pagination-btn" type="button"></button>
        </li>
        <li class="pagination-item">
          <button class="button pagination-btn" type="button"></button>
        </li>
        <li class="pagination-item">
          <button class="button pagination-btn" type="button"></button>
        </li>
        <li class="pagination-item pagination-item__main">
          <button
            class="button pagination-btn pagination-btn__main"
            type="button"
          ></button>
        </li>
        <li class="pagination-item">
          <button class="button pagination-btn" type="button"></button>
        </li>
        <li class="pagination-item">
          <button class="button pagination-btn" type="button"></button>
        </li>
        <li class="pagination-item">
          <button class="button pagination-btn" type="button"></button>
        </li>
        <li class="pagination-item">
          <button class="button pagination-btn" type="button"></button>
        </li>
      </ul>

      <button class="button pagination-btn__arrow-right" type="button">
        <svg class="pagination__icon" width="40" height="40">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
