<footer class="footer">
    <div class="container">
        <p class="footer-text">
            &copy; 
            <span>2022 | All Rights Reserved |</span>
            <span>Developed with</span>
            <svg class="heart-icon" aria-label="input-icon" width="14" height="13">
                <use href="./images/icons.svg#icon-heart"></use>
            </svg>
            <span>by </span>
            <a class="goit-link" href="#" rel="noreferrer noopener" modal-developers-open>GoIT Students</a>
            <div class="backdrop is-hidden" data-modal>
            <div class="modal">
                <button type="button" class="modal-close" modal-developers-close>X
                    <!-- <svg class="icon-close-black" width="30" height="30">
                        <use href="./images/symbol-defs.svg#icon-close-black"></use>
                    </svg> -->
                </button>                
                <div class="gallery">                    
                    <div class="gallery__item">
                        <h3 class="gallery__tittle">Andriy </h3>
                        <img class="gallery__image" src="./images/developers/andriy-cherkassy.jpg" alt="Andriy Shtanko"/>
                    </div>
                    <div class="gallery__item">
                        <h3 class="gallery__tittle">Dmytro Riabokon</h3>
                        <img class="gallery__image" src="./images/developers/dmytro-boryspil.jpg" alt="Dmytro Riabokon"/>
                    </div>
                    <div class="gallery__item">
                        <h3 class="gallery__tittle">Volodymyr Bortokhov</h3>
                        <img class="gallery__image" src="./images/developers/volodymyr-kyiv.jpg" alt="Volodymyr Bortokhov"/>
                    </div>
                    <div class="gallery__item">
                        <h3 class="gallery__tittle">Lera</h3>
                        <img class="gallery__image" src="./images/developers/lera-konotop.jpg" alt="Lera Plotskih"/>
                    </div>
                    <div class="gallery__item">
                        <h3 class="gallery__tittle">Lilia Barsuk</h3>
                        <img class="gallery__image" src="./images/developers/lilia.jpg" alt="Lilia Barsuk"/>
                    </div>
                    <div class="gallery__item">
                        <h3 class="gallery__tittle">Vasyl</h3>
                        <img class="gallery__image" src="./images/developers/vasyl-kyiv.jpg" alt="Vasyl"/>
                    </div>
                    <div class="gallery__item">
                        <h3 class="gallery__tittle">Tetiana  Semenchuk</h3>
                        <img class="gallery__image" src="./images/developers/tetiana-lutsk.jpg" alt="Tetiana  Semenchuk"/>
                    </div>
                    <div class="gallery__item">
                        <h3 class="gallery__tittle">Denis</h3>
                        <img class="gallery__image" src="#" alt="Denis"/>
                    </div>
                    <div class="gallery__item">
                        <h3 class="gallery__tittle">Tetiana Piatykh</h3>
                        <img class="gallery__image" src="#" alt="Tetiana Piatykh"/>
                    </div>
                    <!-- <div class="gallery__item">
                        <h3 class="gallery__tittle">Nykyta</h3>
                        <img class="gallery__image" src="#" alt="Nikita"/>
                    </div> -->


                    
                </div>
                
            </div>
        </div>
            </div>
        </p>
    </div>
</footer>