<footer class="footer">
    <div class="container">
        <p class="footer-text">
            &copy; 
            <span>2022 | All Rights Reserved |</span>
            <span>Developed with</span>
            <svg class="heart-icon" aria-label="input-icon" width="14" height="13">
                <use href="./images/icons.svg#icon-heart"></use>
            </svg>
            <span>by </span>
            <a class="goit-link" href="#" rel="noreferrer noopener" modal-developers-open>GoIT Students</a>
            <div class="backdrop is-hidden__developers" data-modal-developer>
            <div class="modal-developers">
                <button type="button" class="modal-close" modal-developers-close>X
                    <!-- <svg class="icon-close-black" width="30" height="30">
                        <use href="./images/symbol-defs.svg#icon-close-black"></use>
                    </svg> -->
                </button>                
                <div class="gallery">                    
                    <div class="gallery__item">                        
                        <img class="gallery__image" src="./images/developers/andriy-cherkassy.jpg" alt="Andriy Shtanko"/>
                        <h3 class="gallery__tittle">Andriy</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>                        
                    </div>
                    <div class="gallery__item">                        
                        <img class="gallery__image" src="./images/developers/dmytro-boryspil.jpg" alt="Dmytro Riabokon"/>
                        <h3 class="gallery__tittle">Dmytro</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </div>
                    <div class="gallery__item">                        
                        <img class="gallery__image" src="./images/developers/volodymyr-kyiv.jpg" alt="Volodymyr Bortokhov"/>
                        <h3 class="gallery__tittle">Volodymyr</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </div>
                    <div class="gallery__item">                        
                        <img class="gallery__image" src="./images/developers/lera-konotop.jpg" alt="Lera Plotskih"/>
                        <h3 class="gallery__tittle">Lera</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </div>
                    <div class="gallery__item">                        
                        <img class="gallery__image" src="./images/developers/lilia.jpg" alt="Lilia Barsuk"/>
                        <h3 class="gallery__tittle">Lilia</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </div>
                    <div class="gallery__item">                        
                        <img class="gallery__image" src="./images/developers/vasyl-kyiv.jpg" alt="Vasyl"/>
                        <h3 class="gallery__tittle">Vasyl</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </div>
                    <div class="gallery__item">                        
                        <img class="gallery__image" src="./images/developers/tetiana-lutsk.jpg" alt="Tetiana  Semenchuk"/>
                        <h3 class="gallery__tittle">Tetiana</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </div>
                    <div class="gallery__item">                        
                        <img class="gallery__image" src="./images/developers/denis.jpg" alt="Denis"/>
                        <h3 class="gallery__tittle">Denis</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </div>
                    <div class="gallery__item">                        
                        <img class="gallery__image" src="./images/developers/tetiana.jpg" alt="Tetiana Piatykh"/>
                        <h3 class="gallery__tittle">Tetiana</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </div>
                    <div class="gallery__item">                        
                        <img class="gallery__image" src="./images/developers/Nikita.jpg" alt="Nikita"/>
                        <h3 class="gallery__tittle">Nikita</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </div>


                    
                </div>
                
            </div>
        </div>
            </div>
        </p>
    </div>
</footer>