<footer class="footer">
    <div class="container">
        <p class="footer-text">
            &copy; 
            <span>2022 | All Rights Reserved |</span>
            <span>Developed with</span>
            <svg class="heart-icon" aria-label="input-icon" width="14" height="13">
                <use href="./images/icons.svg#icon-heart"></use>
            </svg>
            <span>by </span>
            <a class="goit-link" href="#" rel="noreferrer noopener" modal-developers-open>GoIT Students</a>
            <div class="backdrop is-hidden__developers" data-modal-developer>
            <div class="modal-developers">
                <button type="button" class="modal__button" modal-developers-close>
                    <svg class="modal__icon" width="30" height="30">
                        <use href="./images/icons.svg#icon-close"></use>
                    </svg>                    
                </button>                
                <ul class="gallery">                    
                    <li class="gallery__item">
                        <div class="gallery-item-thumb">
                            <img class="gallery__image" src="./images/developers/andriy-cherkassy.jpg" alt="Andriy Shtanko"/>
                            <ul class="gallery__links gallery-list-link">
                                <li class="gallery-list-link__item">
                                    <a href="https://www.linkedin.com/" target="_blank" class="icon__link">
                                        <svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="gallery-list-link__item">
                                    <a href="https://github.com/Andrey-Shtanko" target="_blank" class="icon__link">
                                        <svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_github"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div> 
                        <h3 class="gallery__tittle">Andriy</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>                        
                    </li>
                    <li class="gallery__item"> 
                        <div class="gallery-item-thumb">
                            <img class="gallery__image" src="./images/developers/dmytro-boryspil.jpg" alt="Dmytro Riabokon"/>
                            <ul class="gallery__links gallery-list-link">
                                <li class="gallery-list-link__item">
                                    <a href="https://www.linkedin.com/" target="_blank"><svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="gallery-list-link__item">
                                    <a href="https://github.com/DmitriyR90" target="_blank">
                                        <svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_github"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="gallery__tittle">Dmytro</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </li>
                    <li class="gallery__item">  
                        <div class="gallery-item-thumb">
                            <img class="gallery__image" src="./images/developers/volodymyr-kyiv.jpg" alt="Volodymyr Bortokhov"/>
                            <ul class="gallery__links gallery-list-link">
                                <li class="gallery-list-link__item">
                                    <a href="https://www.linkedin.com/in/bortokhov-volodymyr/" target="_blank">
                                        <svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="gallery-list-link__item">
                                    <a href="https://github.com/Volodymyr-bart" target="_blank">
                                        <svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_github"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>   
                        <h3 class="gallery__tittle">Volodymyr</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </li>
                    <li class="gallery__item">   
                        <div class="gallery-item-thumb">
                            <img class="gallery__image" src="./images/developers/lera-konotop.jpg" alt="Lera Plotskih"/>
                            <ul class="gallery__links gallery-list-link">
                                <li class="gallery-list-link__item">
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="gallery-list-link__item">
                                    <a href="https://github.com/lerka22eklerka" target="_blank">
                                        <svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_github"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div> 
                        <h3 class="gallery__tittle">Lera</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </li>
                    <li class="gallery__item">
                        <div class="gallery-item-thumb">
                            <img class="gallery__image" src="./images/developers/lilia.jpg" alt="Lilia Barsuk"/>
                            <ul class="gallery__links gallery-list-link">
                                <li class="gallery-list-link__item"><a href="https://www.linkedin.com/" target="_blank"><svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_linkedin"></use>
                                        </svg></a></li>
                                <li class="gallery-list-link__item">
                                    <a href="https://github.com/LiliiaBarsuk" target="_blank">
                                        <svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_github"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>   
                        <h3 class="gallery__tittle">Lilia</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </li>
                    <li class="gallery__item">
                        <div class="gallery-item-thumb">
                            <img class="gallery__image" src="./images/developers/vasyl-kyiv.jpg" alt="Vasyl"/>
                            <ul class="gallery__links gallery-list-link">
                                <li class="gallery-list-link__item">
                                    <a href="https://www.linkedin.com/" target="_blank"><svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="gallery-list-link__item">
                                    <a href="https://github.com/ElVent0" target="_blank"><svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_github"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>   
                        <h3 class="gallery__tittle">Vasyl</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </li>
                    <li class="gallery__item">
                        <div class="gallery-item-thumb">
                            <img class="gallery__image" src="./images/developers/tetiana-lutsk.jpg" alt="Tetiana  Semenchuk"/>
                            <ul class="gallery__links gallery-list-link">
                                <li class="gallery-list-link__item">
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="gallery-list-link__item">
                                    <a href="https://github.com/TaniaSem" target="_blank">
                                        <svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_github"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div> 
                        <h3 class="gallery__tittle">Tetiana</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </li>
                    <li class="gallery__item">
                        <div class="gallery-item-thumb">
                            <img class="gallery__image" src="./images/developers/denis.jpg" alt="Denis"/>
                            <ul class="gallery__links gallery-list-link">
                                <li class="gallery-list-link__item"><a href="https://www.linkedin.com/in/denis-slivinskyi-495114177/" target="_blank"><svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_linkedin"></use>
                                        </svg></a></li>
                                <li class="gallery-list-link__item"><a href="https://github.com/Denis-isnotavailable" target="_blank"><svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_github"></use>
                                        </svg></a></li>
                            </ul>
                        </div>
                        <h3 class="gallery__tittle">Denis</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </li>
                    <li class="gallery__item"> 
                        <div class="gallery-item-thumb">
                            <img class="gallery__image" src="./images/developers/tetiana.jpg" alt="Tetiana Piatykh"/>
                            <ul class="gallery__links gallery-list-link">
                                <li class="gallery-list-link__item"><a href="https://www.linkedin.com/" target="_blank"><svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_linkedin"></use>
                                        </svg></a></li>
                                <li class="gallery-list-link__item"><a href="https://github.com/TetianaPiatykh" target="_blank"><svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_github"></use>
                                        </svg></a></li>
                            </ul>
                        </div> 
                        <h3 class="gallery__tittle">Tetiana</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </li>
                    <li class="gallery__item"> 
                        <div class="gallery-item-thumb">
                            <img class="gallery__image" src="./images/developers/Nikita.jpg" alt="Nikita"/>
                            <ul class="gallery__links gallery-list-link">
                                <li class="gallery-list-link__item"><a href="https://www.linkedin.com/" target="_blank"><svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_linkedin"></use>
                                        </svg></a></li>
                                <li class="gallery-list-link__item"><a href="https://github.com/nikita-builder" target="_blank"><svg class="icon" width="30" height="30">
                                            <use href="./images/svg/svg-icon.svg#ic_github"></use>
                                        </svg></a></li>
                            </ul>
                        </div>  
                        <h3 class="gallery__tittle">Nikita</h3>
                        <p class="gallery__text">Full-stack student from GOIT</p>  
                    </li>
                </ul>                
            </div>
        </div>
            </div>
        </p>
    </div>
</footer>